.publicbodytheme
{
    background-image: url('images/image10.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

a
{
    text-decoration: none;
    color: white;
}

.tabtheme
{
    width: 100%;
    height: 70px;
    font-size: 20px;
    font-family: algerian;
    color: white;
    font-weight: bold;
    box-shadow: 5px 5px 5px white;
}

.texttheme
{
    width: 300px;
    height: 30px;
    box-shadow: 3px 3px 3px black;

}
.logintab
{
    margin-top: 30px;
    margin-left: 400px;
    backdrop-filter: blur(5px);
    box-shadow: 10px 10px 10px black;
    width: 42%;
    height: 20%;
    color: black;
    font-weight: bold;
    font-size: 20px;

    align-content: center;
}
.buttontheme
{
    height: 35px;
    width: 110px;
    color: black;
    font-weight: bold;
    font-size: 100%;
    font-family: rockwell;
    box-shadow: 2px 2px 2px black;
}
.dashbutton
{
    margin-top: 20px;
    margin-left: 30px;
    height: 45px;
    width: 150px;
    color: black;
    font-size: 100%;
    font-family: arial;
    box-shadow: 5px 5px 5px white;
    text-transform: uppercase;    
}